.github/workflows/actions/*
application/deploy/values.yaml
.agent.md
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
plan.out
terraform.tfplan
*.pem
*.key
*.crt